/* .dropdown-container {
    font-size: 1rem;
  position: relative;
  display: flex;
  min-width: 250px;
  flex-direction: column;
}

.dropdown-container .dropdown {
    position: absolute;
    background: var(--light-bg-primary);
  color: #f5f6fa;
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.4s;
  border: 1px solid black;
  border-radius: 3px;
  overflow:hidden;

  order: 1;
}

.dropdown-button {
    background: var(--light-bg-primary);
    border-radius: 3px;
  margin-bottom: 8px;
  color: #f5f6fa;
  position: relative;

}

.dropdown-container .dropdown {
  max-height: 150px;
  opacity: 1;
  overflow-y: scroll;
  margin-top: 54px;
}

.dropdown-container .dropdown-item,
.dropdown-button {
  padding: 12px 24px;
  cursor: pointer;
}

.dropdown-container .dropdown-item:hover {
  background: #414b57;
}

.dropdown-container {
  cursor: pointer;
}

.dropdown-container .dropdown-item .radio {
  display: none;
}


.dropdown-search input {
    border-radius: 3px 3px 0 0;
  width: 100%;
  padding: 12px 16px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  position: absolute;
  z-index: 100;
  border: 8px solid #2f3640;

  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
}

.dropdown-search input:focus {
  outline: none;
}

.dropdown-container .dropdown.active ~ .dropdown-search input {
  opacity: 1;
  pointer-events: auto;
} */

:root {
  --bg:  #242526;
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --nav-size: 60px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms; 
}

.dropdown, .dropdown-item {
  cursor: pointer;
}

.dropdown {
  position: absolute;
  /* top: 58px; */
  width: 300px;
  transform: translateX(-30%);
  background-color: var(--bg);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 1rem;
  height: 200px;
  overflow-y: scroll;
  transition: height var(--speed) ease;
}

.dropdown-content {
  width: 100%;
}

.dropdown-item {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem;
}

.dropdown-item:hover {
  background-color: #525357;
}

.dropdown::-webkit-scrollbar {
  width: 10px;
  background: #0d141f;
}

.dropdown::-webkit-scrollbar-thumb {
  background: #525861;
}