:root {
    --light-bg-primary: #36363E;
    --light-bg-secondary: #4D4D55;
    --light-fg: #EBEBEB;
    --dark-bg-primary: #16161D;
    --dark-bg-secondary: #23232F;
    --dark-fg: #F5F5F5;

    --red: #FF6C6C;
    --green: #5D924F;
}

body {
    padding: 0;
    margin: 0;
    background: var(--light-bg-secondary);
    color: var(--light-fg);
}

select {
    font-size: 1rem;
    padding: .5em;
    border: 0;
    background: var(--light-bg-primary);
    color: var(--light-fg);
    border-radius: 5px;
}

.card-container {
    margin: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
}

.card {
    display: grid;
    grid-template: "";
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--dark-bg-primary);
    font-size: 1.5rem;
    color: var(--light-fg);
    height: 100%;
    width: 100%;
    border-radius: 4px;
    transition: all 500ms;
    /* overflow: hidden; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.new-tile-button { 
    background: var(--dark-bg-secondary);
    cursor: pointer;
}

.new-tile-button:hover {
    background: var(--light-bg-primary);
}

.posChange {
    color: var(--green);
}

.negChange {
    color: var(--red);
}

.exit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    background: var(--light-bg-primary);
}

.exit-button > svg {
    height: .75rem;
    width: .75rem;
}