:root {
  --bg:  #242526;
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --border: 1px solid var(--light-bg-secondary);
  --border-radius: 3px;
  --speed: 500ms; 
}


.dropdown-item, .dropdown-button {
  cursor: pointer;
}

.dropdown-button {
  padding: .25rem;
  background: var(--dark-bg-secondary);
  transition: all 500ms;
}

.dropdown-button > img {
  margin-right: .5rem;
}

.dropdown-button:hover {
  background: var(--light-bg-primary);
}

.dropdown {
  font-size: 80%;
  position: absolute;
  width: 250px;
  background-color: var(--dark-bg-secondary);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: .5rem;
  transition: height var(--speed) ease;
}

.dropdown-items-container {
  height: 200px;
  overflow-y: scroll;
}

.dropdown-item {
  height: 30px;
  display: flex;
  align-items: center;
  text-align: left;
  border: var(--boarder);
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.25rem;
}

.dropdown-item:hover {
  background-color: var(--light-bg-primary);
}

.dropdown-items-container::-webkit-scrollbar {
  width: 10px;
  background: var(--light-bg-primary);
}

.dropdown-items-container::-webkit-scrollbar-thumb {
  background:var(--dark-bg-secondary);
}

.dropdown-search input {
  border-radius: var(--border-radius);
  width: 100%;
  padding: .25rem;
}

.dropdown-search input:focus {
  outline: none;
}